.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include medium {
    max-width: 90%;
  }
}

.grid {
  display: grid;

  &--gap {
    @include small {
      grid-gap: 24px;
    }
  }

  &--columns {
    @include small {
      grid-template-columns: 1fr 1fr;
    }

    @include medium {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &.category {
    padding-top: 10em;
    text-align: center;

    @include small {
      grid-template-columns: 1fr 1fr;
    }

    @include medium {
      grid-template-columns: repeat(3, 1fr);
    }

    .category-title {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 1em;
      padding-top: 0.8em;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 1.2em;
    }
  }
}

.content {
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  border-left: 1px solid var(--medium);
  border-top: 1px solid var(--medium);

  tr {
    border-collapse: collapse;
    margin: 0;
    padding: 0;

    td,
    th {
      border-bottom: 1px solid var(--medium);
      border-collapse: collapse;
      border-right: 1px solid var(--medium);
      padding: 5px 15px;
    }
  }
}

h1,
h2,
h3,
h4 {
  color: var(--warning-bg);
  padding-bottom: 0.2rem;
}

.text-center {
  text-align: center;
}

.horizontal-list {
  ul {
    overflow: auto;
    padding: 0;
    white-space: nowrap;
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    text-align: center;
    width: 100px;

    @include large {
      width: 150px;
    }

    .img {
      background-color: var(--dark);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100%;
      cursor: pointer;
      border-radius: 50%;
      padding-top: 100%;
      transition: background 0.2s;

      &:hover {
        background-size: 110%;
      }
    }

    .desc {
      padding: 5px 0;

      h3 {
        font-size: 0.8rem;
      }
    }
  }
}

.vertical-list {
  ul {
    padding: 0;
  }

  .nav {
    margin-bottom: 16px;
    text-align: end;
  }

  li {
    background-color: var(--dark);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    list-style: none;
    min-height: 250px;
    position: relative;
    transition: background 0.2s;

    .desc {
      background-image: linear-gradient(0deg, black, transparent);
      bottom: 0;
      color: white;
      display: block;
      padding: 10px 15px;
      position: absolute;
      text-decoration: none;
      width: 100%;

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
      a {
        display: block;
      }
      img {
        height: 25px;
        width: 25px;
        position: absolute;
        right: 0;
        top: -112%;
      }
    }
  }

  a {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    list-style: none;
    position: relative;
    transition: background 0.2s;

    &.category-link {
      background-color: var(--dark);
      min-height: 200px;
    }

    &.resource-link {
      margin-top: 16px;
    }

    .desc {
      bottom: 0;
      color: white;
      display: block;
      padding: 10px 15px;
      position: absolute;
      text-decoration: none;
      width: 100%;

      p,
      a {
        display: none;
      }
    }
  }
}
