.header {
  box-shadow: 0 4px 2px -4px #808080;
  height: 75px;
  margin: 0 0 6px;
  padding: 15px 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  padding: 0;
}

.title {
  font-size: 20px;
  font-weight: normal;
  margin: 5px;
}

.logo {
  padding-left: 20px;
  margin: -12px;
}

.logo-img {
  height: 60px;
}
