* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--color-text);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

ul,
p {
  margin-bottom: 0.1em;
}

ul {
  list-style: disc;
  padding-left: 20px;

  li {
    padding-bottom: 7px;
  }
}

a {
  color: var(--warning-bg);
}
